.intro {
  .intro__content {
    text-align: center;
    padding: 40px 0;
    position: relative;
    &:hover .btn-blue--border {
      @include button($color-blue-1, $color-white-1, $color-blue-1, $color-blue-1, $color-white-1, $color-blue-3);
    }
    a {
      color: $color-gray-1;
      .box-position {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
      }
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 796px) {
  .intro {
    .intro__content {
      a {
        .box-position {
          h3 {
            font-size: 17px;
          }
        }
      }
    }
  }
}
