@mixin button($color, $bg-color, $border, $color-hover, $bg-color-hover, $border-hover) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border;
  padding: 13px 80px;
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
    border: 1px solid $border-hover;
  }
}
