$color-blue-1: rgb(2, 118, 179);
$color-blue-2: #0276b3;
$color-blue-3: #102b4e;
$color-blue-4: rgba(6, 120, 188, 0.5);
$color-blue-5: #2096cd;

$color-gray-1: #616161;
$color-gray-2: #a7a7a7;
$color-gray-3: #555;
$color-gray-4: #f7f7f7;
$color-gray-5: #fafafa;

$color-black-1: #333333;
$color-black-2: #242424;

$color-white-1: #ffffff;
$color-white-2: #f7f7f7;

$color-red-1: #d92e14;
